<div id="app-content" fxLayout="column" fxFlexFill>
  <div id="app-header" fxFlex="60px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

    <a href="#" [routerLink]="'catalog'"><img id="logo" [src]=logoSrc
                                              alt="logo" (error)="logoSrc='static/angular/assets/images/logo.png'"></a>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-raised-button [routerLink]="'basket'" color="primary" *ngIf="basket.length > 0"
              matBadge="{{ basket.length }}" matBadgePosition="before" matBadgeColor="accent">
        Корзина
      </button>

      <mat-button-toggle-group class="catalog">
        <mat-button-toggle [routerLink]="'catalog/popular'">
          Популярное
        </mat-button-toggle>
        <mat-button-toggle [routerLink]="'catalog'">
          Все товары
        </mat-button-toggle>
        <mat-button-toggle class="drop-down-button" [matMenuTriggerFor]="category">
          <fa-icon [icon]="faBars"></fa-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container>
        <button *ngIf="!isAuth" mat-mini-fab (click)="signInWithGoogle()" color="warn">
          <fa-icon [icon]="faGoogle"></fa-icon>
        </button>
        <mat-button-toggle-group class="profile-orders">
          <mat-button-toggle *ngIf="isAuth" [routerLink]="'profile'">Профиль</mat-button-toggle>
          <mat-button-toggle *ngIf="isAuth" [routerLink]="'orders'">Заказы</mat-button-toggle>
        </mat-button-toggle-group>
        <button *ngIf="isAuth" mat-raised-button (click)="signOut()" color="warn">Выход</button>
      </ng-container>

      <mat-menu #category="matMenu">
        <ng-container *ngFor="let item of categories">
          <button
            mat-menu-item
            [routerLink]="['catalog/cat',item.id]"
            [matMenuTriggerFor]="subitem">
            {{ item.name }}
          </button>
          <mat-menu #subitem="matMenu">
            <button
              *ngFor="let subitem of item['subcategories']"
              [routerLink]="['catalog/subcat',subitem.id]"
              mat-menu-item>
              {{ subitem.name }}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>

    </div>
  </div>

  <router-outlet>
  </router-outlet>

  <div id="app-footer" fxLayout="row" fxLayoutAlign="center center" fxFlexOffset="20px" fxFlex="40px">
    @Copyright reCommendme | powered by Angular & Django
  </div>
</div>
