<div id="app-content" fxLayout="column">
  <div id="app-header" fxFlex="60px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <img id="logo" src="/assets/images/logo.png" alt="logo">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px">
      {{ basket | json }}
      <button mat-raised-button [routerLink]="'basket'" color="primary" *ngIf="basket.length > 0"
              matBadge="{{ basket.length }}" matBadgePosition="before" matBadgeColor="accent">
        <mat-icon>add_shopping_cart</mat-icon>
        Корзина
      </button>
      <button mat-raised-button [routerLink]="'profile'" color="warn">Профиль</button>

      <mat-button-toggle-group>
        <mat-button-toggle [routerLink]="'catalog'">
          Каталог
        </mat-button-toggle>
        <mat-button-toggle class="drop-down-button" [matMenuTriggerFor]="category">
          <mat-icon>menu</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-menu #category="matMenu">
        <ng-container *ngFor="let item of categories">
          <button
            mat-menu-item
            [routerLink]="['catalog/cat',item.id]"
            [matMenuTriggerFor]="subitem">
            {{ item.name }}
          </button>
          <mat-menu #subitem="matMenu">
            <button
              *ngFor="let subitem of item['subcategory']"
              [routerLink]="['catalog/subcat',subitem.id]"
              mat-menu-item>
              {{ subitem.name }}
            </button>
          </mat-menu>
        </ng-container>
      </mat-menu>

    </div>
  </div>
  <div>
    <router-outlet>
    </router-outlet>
  </div>


  <div id="app-footer" fxFlex="40px">@Copyright reCommendme | powered by Angular & Django</div>
</div>
