{% load static %}
{% load webpack_loader %}

<!doctype html>
<html lang="ru">
<head>
    <base href="/">
    <title>Доставка продуктов - reCommendme</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

</head>
<body>

<app-root>
    Loading...
</app-root>
{% render_bundle 'runtime' %}
{% render_bundle 'polyfills' %}
{% render_bundle 'styles' %}
{% if debug %}
    {% render_bundle 'vendor' %}
{% endif %}
{% render_bundle 'main' %}
</body>
</html>
