/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  background-color: #eefaff !important;
  color: black;
  scroll-behavior: smooth;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

h1 {
  color: #264D73;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-weight: lighter;
}

body, input[text] {
  color: #333;
}

a {
  cursor: pointer;
}

ngb-rating:focus {
  outline: none;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

table {
  width: 100%;
}

.plus-minus-group .mat-button-toggle-label-content {
  line-height: 0 !important;
  padding: 12px 10px 10px 10px !important
}

.mat-button-toggle-checked {
  color: #fff !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.products {
  max-width: 70%;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
