.order-info {
  color: #3f51b5;
  background-color: #f3f3fd;
  font-size: inherit;
}
.footer-total {
  background-color: #f8f8fb;
  font-weight: bold;
}
tr.mat-footer-row, tr.mat-header-row {
  height: 40px;
}
