<div id="app-center" fxFlex="100" fxLayout="column nowrap" fxLayoutAlign="start center" fxLayoutGap="10px">

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <ng-container *ngIf="!isAuth"><h1>Вам необходимо авторизоваться</h1></ng-container>
    <ng-container *ngIf="isAuth">
      <h1>Заказы</h1>
      <ng-container *ngIf="orders.length === 0">
        <h3>У вас пока нет заказов</h3>
        <h4>Перейдите в <a href="#" [routerLink]="'catalog'">каталог</a>, чтоб начать заказывать!</h4>
      </ng-container>

      <div style fxLayout="column nowrap" fxLayoutAlign="center" fxLayoutGap="10px">
        <div *ngFor="let order of orders">

          <table mat-table [dataSource]="order['products']" class="mat-elevation-z8">

            <ng-container matColumnDef="disclaimer">
              <th mat-header-cell *matHeaderCellDef colspan="100%" class="order-info">
                №{{order['id']}} / создан: {{order['created_at']|date:'dd.MM.yy в HH:mm zz'}} /
                статус: {{order['status']}}
              </th>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> #</th>
              <td mat-cell *matCellDef="let position = index" [width]="100"> {{position + 1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Название</th>
              <td mat-cell *matCellDef="let product" [width]="300"> {{product['product']['name']}} </td>
              <td mat-footer-cell *matFooterCellDef> Всего</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> Количество</th>
              <td mat-cell *matCellDef="let product" [width]="100"> {{product['amount']}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Цена</th>
              <td mat-cell *matCellDef="let product" [width]="80"> {{product['product']['price']}} ₽</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="price_multiple">
              <th mat-header-cell *matHeaderCellDef> Общая стоимость</th>
              <td mat-cell *matCellDef="let product" [width]="120"> {{product['price_multiple']}} ₽</td>
              <td mat-footer-cell *matFooterCellDef> {{order['total_price']}} ₽</td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Категория</th>
              <td mat-cell *matCellDef="let product" [width]="150"> {{product['product']['category']['name']}}  </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="subcategory">
              <th mat-header-cell *matHeaderCellDef> Подкатегория</th>
              <td mat-cell *matCellDef="let product" [width]="150"> {{product['product']['subcategory']['name']}}  </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="user_rating">
              <th mat-header-cell *matHeaderCellDef> Ваша оценка</th>
              <td mat-cell *matCellDef="let product" [width]="100">
                <ngb-rating [(rate)]="product['user_rating']" [max]="5" [readonly]=false
                          (rateChange)="doSetProductRating(order['consumer'], product['product']['id'], product['user_rating']); product['user_rating'] = rating">
              <ng-template let-fill="fill">
                <span class="star-background" [class.full]="fill === 100">
                  <span class="star-foreground" [style.width.%]="fill">&#x2764;</span>&#x2764;
                </span>
              </ng-template>
            </ngb-rating>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['disclaimer']"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer-total"></tr>
          </table>

        </div>
      </div>

    </ng-container>
  </ng-container>
</div>
