<div id="app-center" fxFlex="100" fxLayoutAlign="center" fxLayout="row wrap">
  <ng-container *ngIf="loading">
    <div fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
      <mat-card class="dummy-product-card" *ngFor="let i of [].constructor(24)"
                fxFlex="300px" fxLayout="column wrap" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </mat-card>
      <div></div>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">
    <div class="products" fxFlex="70" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="10px">
      <mat-card class="product-card" *ngFor="let product of products"
                fxFlex="300px" fxLayout="column wrap" fxLayoutAlign="center">
        <mat-card-header>
          <div mat-card-avatar class="category-image">
            <a href="#" [routerLink]="['/catalog/cat/',product['category']['id']]">
              <img class="cat-img" src="{{ product['category']['image'] }}"
                   [alt]="product['category']['name']" [title]="product['category']['name']">
            </a>
          </div>
          <mat-card-title>{{ product['name'] }}</mat-card-title>
          <mat-card-subtitle class="category-title">
            <button mat-flat-button
                    [routerLink]="['/catalog/cat/',product['category']['id']]">{{ product['category']['name'] }}</button>
          </mat-card-subtitle>
          <mat-card-subtitle class="subcategory-title">
            <button mat-flat-button
                    [routerLink]="['/catalog/subcat/',product['subcategory']['id']]">{{ product['subcategory']['name'] }}</button>
          </mat-card-subtitle>
          <mat-card-subtitle class="common-rating">
            <ngb-rating [(rate)]="product['common_rating']" [max]="5" [readonly]=true class="read">
              <ng-template let-fill="fill">
                <span class="star-background" [class.full]="fill === 100">
                  <span class="star-foreground star-read" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
            </ngb-rating>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="space-around center">
          <img mat-card-image [src]="product['image']" [alt]="product['name']"
               lightbox [fullImage]="{path: product['image'] }">

          <div class="description">
            <span *ngIf="isAuth && hasProductBeenBought(product['id'])" style="padding-bottom: 5px;">
              <ng-container *ngIf="productUserRating(product['id'])>0">Ваша оценка</ng-container>
              <ng-container *ngIf="rating===0">Оцените продукт</ng-container>
              <ngb-rating [(rate)]="rating" [max]="5" [readonly]=false
                          (rateChange)="doSetProductRating(user, product['id'], rating)">
              <ng-template let-fill="fill">
                <span class="star-background" [class.full]="fill === 100">
                  <span class="star-foreground" [style.width.%]="fill">&#x2764;</span>&#x2764;
                </span>
              </ng-template>
            </ngb-rating>
          </span>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <!--  TODO поиск товара -->
          <button class="price" mat-stroked-button disabled>{{product['price']}} ₽</button>
          <mat-button-toggle-group (wheel)="onWheel(product, $event)">
            <mat-button-toggle class="count" disabled>{{product['amount']}} шт</mat-button-toggle>
            <mat-button-toggle-group vertical class="plus-minus-group">
              <mat-button-toggle class="plus-minus" (click)="product['amount'] = product['amount'] + 1">+
              </mat-button-toggle>
              <mat-button-toggle class="plus-minus" (click)="product['amount'] = product['amount'] - 1">-
              </mat-button-toggle>
            </mat-button-toggle-group>
          </mat-button-toggle-group>
          <button *ngIf="isInBasket(product['id'])" mat-raised-button class="to-basket" color="primary"
                  (click)="doAddToBasket(product['id'], product['amount'])">
            <fa-icon [icon]="faCartPlus" style="font-size: 20px;"></fa-icon>
          </button>
          <button *ngIf="!isInBasket(product['id'])" mat-raised-button class="to-basket" color="accent"
                  (click)="doAddToBasket(product['id'], product['amount'])">
            <fa-icon [icon]="faCartArrowDown" style="font-size: 20px;"></fa-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <!-- костыль для правильного margin-right последней карточки продукта на странице, вызванного fxLayoutGap="10px" -->
      <div></div>
    </div>

  </ng-container>

  <div fxFlex="100" fxLayoutAlign="end center" style="margin-top: 10px">
    <button mat-raised-button (click)="scrollToTop()" color="warn">Наверх</button>
    <mat-paginator [length]="productsCount"
                   [pageSize]="limit"
                   [showFirstLastButtons]=true
                   (page)="pageEvent = getPaginatorData($event)">
    </mat-paginator>
  </div>


</div>
